body {
  background-color: rgb(234, 230, 230);
}

.content {
  border: 2px solid rgb(184, 220, 280);
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid;
  padding: 2px 20px;
}

form {
  border: 2px solid gainsboro;
  width: 100%;
  margin: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

input {
  /* width: 100%; */
  background-color: inherit;
  height: 30px;
  font-size: 17px;
  width: 99%;
  border: 1px hidden;
}

.todo-vakue {
  width: 100%;
}

.todoActivity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
  margin: 1px;
}

.clear {
  padding: 5px 30px;
  width: 100%;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
}

.toDoDivision {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.ul-todo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  margin: 2px;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}
